@import "tailwindcss";

@font-face {
    font-family: "Avenir Next Cyr"; /* Название, которое будет использоваться в CSS */
    src: url("./font/avenir-next-cyr-regular.ttf") format("woff2"); /* Современный формат */
}

@font-face {
    font-family: "AvenirNextCyr";
    font-weight: 300;
    src: url("./font/AvenirNextCyr-Regular.ttf") format("truetype"),
        url("./font/AvenirNextCyr-Regular.eot") format("opentype"),
        url("./font/AvenirNextCyr-Regular.woff") format("woff");
}
@font-face {
    font-family: "AvenirNextCyr";
    font-weight: 400;
    src: url("./font/AvenirNextCyr-Medium.ttf") format("truetype"),
        url("./font/AvenirNextCyr-Medium.eot") format("opentype"),
        url("./font/AvenirNextCyr-Medium.woff") format("woff");
}
@font-face {
    font-family: "AvenirNextCyr";
    font-weight: 500;
    src: url("./font/AvenirNextCyr-Demi.ttf") format("truetype"),
        url("./font/AvenirNextCyr-Demi.eot") format("opentype"),
        url("./font/AvenirNextCyr-Demi.woff") format("woff");
}
@font-face {
    font-family: "AvenirNextCyr";
    font-weight: 700;
    src: url("./font/AvenirNextCyr-Bold.ttf") format("truetype"),
        url("./font/AvenirNextCyr-Bold.eot") format("opentype"),
        url("./font/AvenirNextCyr-Bold.woff") format("woff");
}

:root {
    scroll-behavior: smooth;
}
body {
    font-family: "AvenirNextCyr";
}

.svgBtn svg path {
    fill: white;
}
.svgBtn:hover svg path {
    fill: black;
}
.bg-guest {
    background: linear-gradient(
            251deg,
            #000023 -67.43%,
            #091267 -9.1%,
            rgba(126, 199, 215, 0.9) 10.56%,
            #0f0148 54.71%,
            #2f3f7a 89.71%,
            #7102ff 126.38%
        ),
        linear-gradient(271deg, #e0921e 6.07%, #f05c14 57.87%),
        linear-gradient(
            90deg,
            #000023 15.14%,
            rgba(126, 130, 215, 0.9) 57.3%,
            #e95521 100.06%
        ),
        #1e195d;
}
.gradient {
    background: linear-gradient(
        104deg,
        #000023 -36.83%,
        rgba(126, 130, 215, 0.9) 27.8%,
        #e95521 93.37%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.my-gradient {
    background: linear-gradient(
        104deg,
        #000023 -36.83%,
        rgba(126, 130, 215, 0.9) 27.8%,
        #e95521 93.37%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.bacc {
    background: linear-gradient(
        96deg,
        #000023 -13.47%,
        rgba(126, 130, 215, 0.9) 22.03%,
        #e95521 58.05%
    );
}
.bac2 {
    border-radius: 24px;
    background: linear-gradient(0deg, #091267 0%, #0716a2 100%);
}
.scrollbar-hide {
    scrollbar-width: none;
}

.my-border {
    border-bottom: 1.5px dashed white;
    border-bottom-style: dashed;
    border-bottom-width: 1.5px;
    border-bottom-color: white;

    border-image: repeating-linear-gradient(
            to right,
            white 0,
            white 12px,
            transparent 12px,
            transparent 24px
        )
        1;
}

.bg-mobile {
    background-image: url("./svg/LogoMob.png");
}

@media (min-width: 1000px) {
    .bg-mobile {
        background-image: url("./images/Title/BgTitle.png");
    }
}

.bg-Af {
    background-image: url("./images/AfterParty/MbAf.svg");
}

@media (min-width: 1000px) {
    .bg-Af {
        background-image: url("./images/AfterParty/BgAf.svg");
    }
}

.mask-Expo {
    -webkit-mask-image: url("./images/ExpoZone/maskM.svg"); /* по умолчанию мобильная */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 100% 100%;

    mask-image: url("./images/ExpoZone/maskM.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
}

/* планшеты и выше */
@media (min-width: 640px) {
    .mask-Expo {
        -webkit-mask-image: url("./images/ExpoZone/mask.svg");
        mask-image: url("./images/ExpoZone/mask.svg");
    }
}
@media (min-width: 1740px) {
    .ml-71w {
        margin-left: 250px;
    }
}

.speakerBgTop {
    background: linear-gradient(
            189deg,
            #e95521 -5.09%,
            rgba(126, 130, 215, 0.9) 64.87%,
            #000023 116.13%
        )
        #1e195d;
}

@media (min-width: 1500px) {
    .lll {
    }
    .ggg{

    }
}
@media (min-width: 1900px) {
    .lll {
        margin-left: 380px;
     
    }
    .ggg{
        margin-top: -400px;
    }
}

.speakerBg {
    background: linear-gradient(
            180deg,
            #000023 7.21%,
            rgba(126, 130, 215, 0.9) 65.38%,
            #e95521 144.77%
        ),
        linear-gradient(
            253deg,
            #000023 -60.44%,
            #091267 -5.34%,
            rgba(126, 199, 215, 0.9) 13.23%,
            #0f0148 54.94%,
            #2f3f7a 88%,
            #7102ff 122.64%
        ),
        linear-gradient(271deg, #e0921e 10.18%, #f05c14 58.08%),
        linear-gradient(
            90deg,
            #000023 16.97%,
            rgba(126, 130, 215, 0.9) 55.95%,
            #e95521 95.48%
        ),
        #1e195d;
}
.gradient-border {
    border: 1px solid transparent;
    border-image: linear-gradient(
            180deg,
            #000023 7.21%,
            rgba(126, 130, 215, 0.9) 65.38%,
            #e95521 144.77%
        ),
        linear-gradient(
            253deg,
            #000023 -60.44%,
            #091267 -5.34%,
            rgba(126, 199, 215, 0.9) 13.23%,
            #0f0148 54.94%,
            #2f3f7a 88%,
            #7102ff 122.64%
        ),
        linear-gradient(271deg, #e0921e 10.18%, #f05c14 58.08%),
        linear-gradient(
            90deg,
            #000023 16.97%,
            rgba(126, 130, 215, 0.9) 55.95%,
            #e95521 95.48%
        ),
        #1e195d;
    border-image-slice: 1;
}

.bg-custom-gradient {
    background: linear-gradient(
        1deg,
        #000023 -1.8%,
        #091267 14.73%,
        #0f0148 47.8%,
        rgba(126, 130, 215, 0.9) 63.8%,
        #ff8900 88.87%,
        #ff8900 104.88%
    );
    filter: blur(250px);
}

.custom-gradient-bg {
    background: linear-gradient(
        1deg,
        #000023 -1.8%,
        #091267 14.73%,
        #0f0148 47.8%,
        rgba(126, 130, 215, 0.9) 63.8%,
        #ff8900 88.87%,
        #ff8900 104.88%
    );
}
.custom2-gradient-bg {
    background: linear-gradient(
        1deg,
        #000023 -1.8%,
        #091267 14.73%,
        #0f0148 47.8%,
        rgba(126, 130, 215, 0.9) 63.8%,
        #ff8900 88.87%,
        #ff8900 104.88%
    );
}

.card {
    background: linear-gradient(
            105deg,
            #000023 24.15%,
            rgba(126, 130, 215, 0.9) 56.81%,
            #e95521 89.93%
        )
        /* linear-gradient(90deg, #000023 20.8%, rgba(126, 130, 215, 0.90) 60.43%, #E95521 100.63%),
    linear-gradient(180deg, #000023 8.24%, rgba(126, 130, 215, 0.90) 65.79%, #E95521 144.32%),
    linear-gradient(252deg, #000023 -64.79%, #091267 -9.13%, rgba(126, 199, 215, 0.90) 9.63%, #0F0148 51.77%, #2F3F7A 85.17%, #7102FF 120.16%),
    linear-gradient(271deg, #E0921E 5.13%, #F05C14 53.83%),
    linear-gradient(90deg, #000023 20.8%, rgba(126, 130, 215, 0.90) 60.43%, #E95521 100.63%), */
        #1e195d;
}

.bg-WhoТeedsСome {
    background-image: url("./images/WhoТeedsСome/bgCart.png");
}
